<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Jasmine Spec Runner v2.0.3</title>

    <!-- include jasmine css files here... -->
    <link rel="shortcut icon" type="image/png" href="lib/jasmine-2.0.3/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="lib/jasmine-2.0.3/jasmine.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- include lib js files here... -->
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery-min.js"></script>

    <!-- include source files here... -->
    <script type="text/javascript" src="src/app.js"></script>
    <script type="text/javascript" src="src/SimpleController.js"></script>
    <script type="text/javascript" src="src/SimpleService.js"></script>
    <script type="text/javascript" src="src/SimpleDirective.js"></script>
    <script type="text/javascript" src="src/GetReposController.js"></script>
    <script type="text/javascript" src="src/bootstrap.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style type="text/css">
        .login-form {
            max-width: 300px;
            margin: 0 auto;
        }

        #inputUsername {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        #inputPassword {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .form-element {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <some-element ng-app="myApp">
        <!-- in here, angular things work (assuming you have created an app called "myApp" -->
        <div ng-include="'fixture/main.html'"></div>

        <div ng-controller="SimpleDirectiveController">
            <div data-hello-world info="customer"></div>
        </div>

        <div class = "container" ng-controller="GetReposController">
            <form class = "login-form" ng-submit = "submit()">
                <h2>Please fill in</h2>

                <label for = "inputUsername" class = "sr-only">Username</label>
                <input type = "text" id = "inputUsername" class = "form-control form-element" placeholder = "Username" required autofocus ng-model = "username">

                <label for = "inputPassword" class = "sr-only">Password</label>
                <input type = "password" class = "form-control form-element" placeholder = "Password" required ng-model = "password">

                <div class = "alert alert-success" ng-show = "collection" ng-click = "collection=false">
                    <ul>
                        <li ng-repeat = "repo in collection">
                            {{ repo.name + ', ' + repo.description }}
                        </li>
                    </ul>
                </div>

                <div class = "alert alert-danger" ng-show = "error" ng-click = "error=false">
                    {{error.message}}
                </div>

                <button class = "btn btn-lg btn-primary btn-block" type = "submit" ng-disabled = "!username || !password">Submit</button>
            </form>
        </div>

    </some-element>
</body>
</html>
