<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.3</title>

  <!-- include jasmine css files here... -->
  <link rel="shortcut icon" type="image/png" href="lib/jasmine-2.0.3/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="lib/jasmine-2.0.3/jasmine.css">

  <!-- include jasmine js files here... -->
  <script type="text/javascript" src="lib/jasmine-2.0.3/jasmine.js"></script>
  <script type="text/javascript" src="lib/jasmine-2.0.3/jasmine-html.js"></script>
  <script type="text/javascript" src="lib/jasmine-2.0.3/boot.js"></script>

  <!-- include angular & mocks js files here... -->
  <script type="text/javascript" src="lib/angular/angular.js"></script>
  <script type="text/javascript" src="lib/angular-mocks/angular-mocks.js"></script>

  <script type="text/javascript" src="lib/jquery/jquery-min.js"></script>

  <!-- include source files here... -->
  <script type="text/javascript" src="src/app.js"></script>
  <script type="text/javascript" src="src/SimpleController.js"></script>
  <script type="text/javascript" src="src/SimpleService.js"></script>
  <script type="text/javascript" src="src/SimpleDirective.js"></script>
  <script type="text/javascript" src="src/GetReposController.js"></script>


  <!-- include spec files here... -->
  <script type="text/javascript" src="spec/SimpleControllerSpec.js"></script>
  <script type="text/javascript" src="spec/SimpleServiceSpec.js"></script>
  <script type="text/javascript" src="spec/SimpleDirectiveSpec.js"></script>
  <script type="text/javascript" src="spec/GetReposControllerSpec.js"></script>

</head>

<body>
    <!-- you don't need this if you are not doing DOM manipulations
    <div ng-app="myApp" ng-controller="SimpleController">{{sayHello()}}</div>
    -->
</body>
</html>
